@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cnr4hh');
  src:  url('fonts/icomoon.eot?cnr4hh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cnr4hh') format('truetype'),
    url('fonts/icomoon.woff?cnr4hh') format('woff'),
    url('fonts/icomoon.svg?cnr4hh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e901";
  color: #d99962;
}
.icon-logo:before {
  content: "\e900";
}
